<div class="head">
    <h3>THỎA THUẬN VỀ ĐIỀU KHOẢN CÁ NHÂN CỦA NGƯỜI CUNG CẤP BÃI ĐẬU XE</h3>
    <p>
        Hiệu lực từ ngày: 22 tháng 7 năm 2016
    </p>
    <p>
        KuuParking thu thập thông tin về bạn khi bạn sử dụng các ứng dụng trên di động, trang web, và các sản phẩm và dịch vụ trực tuyến khác (sau đây gọi là “Các dịch vụ”), và thông qua việc bạn tương tác và giao tiếp với chúng tôi.
    </p>
    <h4>PHẠM VI ÁP DỤNG</h4>
    <p>Thỏa thuận này áp dụng cho tất cả người dùng của KuuParking với vai trò là người cung cấp bãi đậu xe trên nền tảng ứng dụng KuuParking trên toàn lãnh thổ Việt Nam (sau đây gọi là “Nhà cung cấp bãi đậu xe”). Thỏa thuận này không áp dụng cho bất kỳ người dùng nào khác ngoài Nhà cung cấp bãi đậu xe. Nếu bạn sử dụng Các dịch vụ của chúng tôi với vai trò cả là Nhà cung cấp bãi đậu xe và Người sử dụng bãi đậu xe thì thỏa thuận về điều khoản cá nhân tương ứng với từng vai trò khác nhau sẽ được áp dụng.</p>
    <h4>THU THẬP THÔNG TIN</h4>
    <h5>Thông Tin Bạn Cung Cấp Cho Chúng Tôi</h5>
    <p>Chúng tôi thu thập thông tin bạn cung cấp trực tiếp cho chúng tôi thông qua việc đăng ký mới, cập nhật, hay đăng nhập vào tài khoản của bạn, hoặc thông qua việc bạn cung cấp thông tin khi yêu cầu hỗ trợ từ phía chúng tôi. Những thông tin này có thể bao gồm: tên, email, số điện thoại, địa chỉ, hình ảnh, thông tin tài khoản thanh toán, và thông tin, hình ảnh về bãi đậu xe của bạn.</p>
    <h5>Thông Tin Được Thu Thập Thông Qua Việc Bạn Sử Dụng Các Dịch Vụ</h5>
    <p>Khi sử dụng Các dịch vụ, chung tôi sẽ thu thập những thông tin sau về bạn:</p>
    <p>
        <strong>1)	Thông tin về vị trí địa lý: </strong>Để cho phép người dùng tìm kiếm được bãi đậu xe của bạn qua nền tảng KuuParking, bạn cần cung cấp thông tin chính xác về địa chỉ bãi đậu xe của bạn thông qua việc sử dụng ứng dụng KuuParking mà bạn sử dụng trên trang web hay trên ứng dụng điện thoại di động. Chúng tôi thu thập thông tin bạn cung cấp và chia sẻ với người dùng thông qua việc tìm kiếm trên nền tảng KuuParking.
    </p>
    <p>
        <strong>2)	Thông tin về giao dịch: </strong>Chúng tôi thu thập thông tin về giao dịch của bạn liên quan đến việc bạn cung cấp bãi đậu xe trên trang web của KuuParking, bao gồm thông tin bãi đậu xe của bạn, khoảng cách từ vị trí người dùng đến bãi đậu xe của bạn, ngày giờ bãi đậu xe được đặt, số tiền thanh toán, và những thông tin khác liên quan đến giao dịch đặt chỗ đậu xe bởi người sử dụng.
    </p>
    <p>
        <strong>3)	Thông tin log: </strong>Khi bạn tương tác với Các dịch vụ, chúng tôi sẽ thu thập thông tin ở phía máy chủ về các hoạt động sử dụng của bạn bao gồm những thông tin như địa chỉ IP, ngày giờ truy cập, các chức năng hoặc trang web bạn truy cập, thông tin về trình duyệt bạn sử dụng để truy cập.
    </p>
    <h5>Thông Tin Chúng Tôi Thu Thập Từ Các Nguồn Khác</h5>
    <p>Chúng tôi có thể thu thập thông tin về bạn từ các nguồn khác ví dụ như:</p>
    <p>
        1)	Nếu bạn chọn đăng nhập vào KuuParking bằng tài khoản Google, Facebook của bạn, hoặc bạn sử dụng các ứng dụng hay trang web có sử dụng API của KuuParking thì chúng tôi sẽ thu thập thông tin về bạn từ các ứng dụng đó.
    </p>
    <p>
        2)	Chúng tôi có thể sẽ thu thập thông tin đánh giá từ phía người dùng về dịch vụ bãi đậu xe của bạn trên nền tảng KuuParking.
    </p>
    <h4>SỬ DỤNG THÔNG TIN</h4>
    <p>Chúng tôi sẽ sử dụng thông tin chúng tôi thu thập về bạn cho các mục đích sau:</p>
    <p>
        1)	Cung cấp, duy trì, và cải tiến Các dịch vụ của chúng tôi chẳng hạn như thực hiện việc thanh toán, gởi biên nhận thanh toán, cung cấp các sản phẩm và dịch vụ, phát triển các tính năng mới của sản phẩm, cung cấp thông tin hỗ trợ người dùng, xác thực người dùng, gởi các thông báo về cập nhật sản phẩm cũng như thông báo liên quan đến việc quản trị hệ thống KuuParking.
    </p>
    <p>
        2)	Thực hiện các hoạt động nội bộ chẳng hạn như: ngăn chặn việc lạm dụng Các dịch vụ của chúng tôi; điều tra để sửa chửa lỗi hệ thống nếu có; phân tích dữ liệu, kiểm thử, và nghiên cứu; theo dõi và phân tích việc sử dụng và xu hướng người dùng hệ thống KuuParking.
    </p>
    <p>
        3)	Gởi cho bạn những thông tin chúng tôi nghĩ có thể hữu ích cho bạn bao gồm những thông tin về sản phẩm, dịch vụ, và thông tin các sự kiện của KuuParking và các công ty khác.
    </p>
    <h4>CHIA SẺ THÔNG TIN</h4>
    <p>Chúng tôi có thể sẽ chia sẻ thông tin chúng tôi thu thập về bạn như đã mô tả trong thỏa thuận này trong các trường hợp sau:</p>
    <p>
        1)	Chia sẻ với người dùng khi họ tìm kiếm thông tin bãi đậu xe của bạn. Thông tin chia sẻ bao gồm tên của bạn, hình ảnh, vị trí, địa chỉ, và các thông tin khác mà bạn đã cung cấp về bãi đậu xe của bạn.
    </p>
    <p>
        2)	Chia sẻ với các nhà tư vấn, các đối tác tiếp thị, và các nhà cung cấp dịch vụ khác (sau đây gọi là Đối tác của KuuParking) khi có nhu cầu truy cập thông tin để thực hiện công việc với danh nghĩa KuuParking.
    </p>
    <p>
        3)	Khi được yêu cầu và chúng tôi có trách nhiệm chia sẻ thông tin với các cơ quan có thẩm quyền theo luật định.
    </p>
    <p>
        4)	Khi thực hiện bất kỳ hoạt động thương lượng về việc sáp nhập hay mua bán một phần hoặc toàn bộ hoạt động kinh doanh của KuuParking với các công ty khác.
    </p>
    <p>
        5)	Khi chúng tôi yêu cầu và được bạn chấp thuận việc chia sẽ thông tin trong các trường hợp không nằm trong các trường hợp từ mục 1), 2), 3), và 4) như trên.
    </p>
    <h4>QUYỀN SỬ DỤNG THÔNG TIN CỦA BẠN</h4>
    <p>Bạn có thể chỉnh sửa thông tin về tài khoản của bạn bất cứ khi nào bằng việc đăng nhập vào hệ thống KuuParking và thực hiện chỉnh sửa. Trong trường hợp bạn muốn hủy bỏ tài khoản của bạn khỏi hệ thống, vui lòng liên hệ với chúng tôi thông qua thư điện tử tại địa chỉ <a href="mailto:support@kuuparking.com">support@kuuparking.com</a>. Xin lưu ý là trong một vài trường hợp chúng tôi có thể sẽ lưu lại thông tin về bạn cho mục đích thực thi các trách nhiệm pháp lý theo yêu cầu của các cơ quan có thẩm quyền, hoặc cho mục đích vận hành công ty trong khuôn khổ pháp luật cho phép.</p>
    <h4>THAY ĐỔI ĐỐI VỚI BẢN THỎA THUẬN NÀY</h4>
    <p>Chúng tôi có thể sẽ thay đổi nội dung của bản thỏa thuận này theo thời gian. Nếu chúng tôi có những thay đổi đáng kể đến việc sử dụng thông tin bạn cung cấp theo như thỏa thuận này, chúng tôi sẽ thông báo đến bạn thông qua trang web KuuParking.com hoặc các phương tiện khác như thư điện tử. Việc bạn tiếp tục sử dụng Các dịch vụ sau khi nhận được thông báo về việc thay đổi này có giá trị như việc bạn đồng ý với những thay đổi của bản thỏa thuận. Chúng tôi khuyến khích bạn định kỳ rà soát lại bản thỏa thuận này để nắm được những thông tin cập nhật nếu có.</p>
    <h4>LIÊN HỆ</h4>
    <p>Nếu bạn có bất kỳ câu hỏi nào về bản thỏa thuận này, xin vui lòng liên hệ với chúng tôi qua địa chỉ thử điện tử <a href="mailto:support@kuuparking.com">support@kuuparking.com</a>, hoặc theo địa chỉ Công ty TNHH MTV Enterprise Lab, địa chỉ số 38, Tân An 4, Phường Hòa Cường Bắc, Quận Hải Châu, Thanh phố Đà Nẵng, Việt Nam.</p>
</div>