<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AgentHubDataContext" connectionString="data source=vServer\SQLExpress;initial catalog=AgentHub;integrated security=false;user id=sa;password=vStation123;" providerName="System.Data.SqlClient" />
    
    <!--<add name="AgentHubDataContext" connectionString="data source=kuuparking.database.windows.net;initial catalog=AgentHub;integrated security=false;user id=kuuparking;password=vStation123;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="CacheAPIKey" value="true" />
    <add key="CachePageItems" value="true" />
    <add key="IPAPIService" value="http://ip-api.com/json" />
    <add key="GoogleMapGeocodeAPIService" value="http://maps.googleapis.com/maps/api/geocode/xml?latlng={0},{1}" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="WebMasterEmailAddress" value="enterpriselab.test@gmail.com" />
    <add key="WebMasterEmailPassword" value="vStation123" />
    
    <!--Development-->
    <!--<add key="GoogleClientId" value="30530709154-32prkot8i4ajvgu54v7j8jebgdtg2rtg.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="H-TCG__dWGOQCPmODyBDlj6F" />
    <add key="FacebookAppId" value="1798180253737028" />
    <add key="FacebookAppSecret" value="20a52a5b3628f6d4286c27bc49a322dd" />
    <add key="FacebookAppToken" value="1798180253737028|4g-gFGCEkMBujbDrGHmVLHRBCsI" />-->

    <!--Deployment-->
    <add key="GoogleClientId" value="1096332739618-64ipiged8rotdeajdmoshvb5d4351fdi.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="MW6KH-pyV9296bB7qtR1u8BW" />
    
    <!--Production App Key-->
    <!--<add key="FacebookAppId" value="1798180253737028" />
    <add key="FacebookAppSecret" value="20a52a5b3628f6d4286c27bc49a322dd" />
    <add key="FacebookAppToken" value="1798180253737028|4g-gFGCEkMBujbDrGHmVLHRBCsI" />-->
    
    <!--Development App Key-->
    <add key="FacebookAppId" value="302091760128906" />
    <add key="FacebookAppSecret" value="3a91c2983237a3880a1e4b8c1b3e7a02" />
    <add key="FacebookAppToken" value="302091760128906|RcCPCVe53mBwmtN8W1pEZoWgEfM" />
    
    <add key="AllowInsecureHttp" value="true" />
    <add key="AccessTokenExpirationInHours" value="24" />
    <add key="TwilioAccountSid" value="ACb81adad44d7b01d50dca9b9f6a0882d6" />
    <add key="TwilioAuthToken" value="02ba4d96935fdc68691a9c953dd4ae99" />
    <add key="TwilioSmsAccountFrom" value="+19282242580" />
    <add key="ByPassRegisterConfirmation" value="true" />
    <add key="ResetPasswordPageName" value="lay-lai-mat-khau" />
    <add key="ConfirmPasswordPageName" value="kich-hoat-tai-khoan" />
    <add key="ProviderThumbnailImageWidth" value="120" />
    <add key="ProviderImageWidth" value="800" />
    <add key="SearchSlotsRadius" value="0" /> <!--50km-->

  </appSettings>
  
  <system.web>    
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"  /> 
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>-->
        <!--<rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^kuuparking.com$" />
          </conditions>
          <action type="Redirect" url="https://www.kuuparking.com/{R:0}" redirectType="Permanent" />
        </rule>-->
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>