<md-dialog ng-cloak class="google-map-location">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h5 class="two-lines" style="font-weight: normal; margin: 0;">Giới Thiệu</h5>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Đóng hộp thoại">
                    <i class="fa fa-close"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-padding" style="max-width: 800px;color:#2171c1;">
            <p>KuuParking là ứng dụng trên nền tảng web và điện thoại di động, cho phép bất kỳ ai có garage hay không gian trống dùng làm bãi đậu xe ôtô nhằm tăng thêm thu nhập. Chỉ việc <a href="/bai-dau-xe/dang-ky">đăng ký thông tin với KuuParking</a>, người dùng khắp nơi có thể dễ dàng tìm kiếm bãi đậu xe của bạn theo tên đường, thành phố, hay địa chỉ trên bản đồ trực tuyến (Google map). KuuParking còn cho phép bạn quản lý việc xe vào/ra tại bãi đậu xe của mình trên máy tính hay điện thoại thông minh ở bất cứ đâu bạn có kết nối internet.
            </p>
            <p>
                <span>Bạn có thắc mắc cần giải đáp? Hãy gửi email cho chúng tôi tại địa chỉ <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>
                <a href="mailto:support@kuuparking.com">support@kuuparking.com</a>
            </p>
            <p>
                <div style="line-height: 20px;text-align: center;font-size: 12px;">
                    <p style="padding-top:10px;">© 2016 Công Ty TNHH Enterprise Lab. ĐC: 22 Tân An 4, P. Hòa Cường Bắc, Quận Hải Châu, TP. Đà Nẵng</p>
                </div>
            </p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Đóng</md-button>
    </md-dialog-actions>
</md-dialog>