<form role="form" class="loading-wrapper">
    <div class="logo">
        <a href="/" class="clearfix" style="width:220px;">
            <img src="/Images/logo-large.png" />
            <span>KuuParking</span>
        </a>            
    </div>

    <div style="padding: 10px 0; line-height: 24px; letter-spacing: 0.2px;">
        Hãy nhập vào số điện thoại hoặc email để thiết lập lại mật khẩu của bạn. Chúng tôi chỉ hỗ trợ thiết lập lại mật khẩu qua điện thoại cho các tài khoản chủ bãi đỗ xe.
    </div>

    <p class="background-line margin-top-xx margin-down-xx">
        <span>Quên Mật Khẩu</span>
    </p>

    <md-input-container class="full-width-input">
        <input ng-model="phoneOrEmail" required placeholder="Số điện thoại hoặc e-mail">
    </md-input-container>

    <md-button class="md-raised md-primary full-width-button" data-ng-click="submit()" style="height: 50px; margin-top: 20px;">
        Lấy lại mật khẩu
    </md-button>

    <md-button href="/bai-dau-xe/dang-nhap" class="full-width-button" style="margin-top: 20px;">
        Đăng nhập vào KuuParking
    </md-button>

    <div class="loading" ng-show="loading">
        <div>
            <md-progress-circular md-mode='indeterminate' md-diameter="200" style="margin: 0 auto;"></md-progress-circular>
        </div>
    </div>
</form>