
<form role="form">
    <div class="logo">
        <a href="/" class="clearfix" style="width:220px;">
            <img src="/Images/logo-large.png" />
            <span>KuuParking</span>
        </a>
    </div>

    <div style="padding: 10px 0; line-height: 24px; letter-spacing: 0.2px;">
        <span>Hãy nhập mật khẩu mới của bạn và nhấn nút lệnh Lưu Mật Khẩu.</span>
    </div>

    <p class="background-line margin-top-xx margin-down-xx">
        <span>NHẬP MẬT KHẨU MỚI</span>
    </p>

    <md-input-container class="full-width-input">
        <input ng-model="newPassword" required type="password" placeholder="Mật khẩu mới">
    </md-input-container>
    <md-input-container class="full-width-input">
        <input ng-model="confirmPassword" required type="password" placeholder="Nhập lại mật khẩu mới">
    </md-input-container>

    <md-button class="md-raised md-primary full-width-button" data-ng-click="submit()" style="height: 50px; margin-top: 20px;">
        LƯU MẬT KHẨU
    </md-button>
    
    <div class="loading" ng-show="loading">
        <div>
            <md-progress-circular md-mode='indeterminate' md-diameter="200" style="margin: 0 auto;"></md-progress-circular>
        </div>
    </div>
</form>