<footer>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div style="line-height: 20px;">
                    © 2016 Công Ty TNHH Enterprise Lab. <span class="hide-xs">ĐC: 22 Tân An 4, P. Hòa Cường Bắc, Quận Hải Châu, TP. Đà Nẵng</span>
                </div>
                <div>
                    <i class="fa fa-fw fa-globe" aria-hidden="true"></i> <a href="http://www.enterpriselab.net/" target="_blank">www.enterpriselab.net</a>
                    <i class="fa fa-fw fa-envelope-o" aria-hidden="true" style="margin-left: 5px;"></i> <a href="mailto:info@enterpriselab.net">info@enterpriselab.net</a>
                </div>
            </td>
        </tr>
    </table>
</footer>
